<ng-container *ngFor="let page of pages2">
    <!-- <button *ngIf="page.subPages.length >  0" mat-button>HOME</button>-->
    <button (click)="pageClick(page.link)" *ngIf="page.subPages.length ==  0" mat-button>{{page.pageTitle}}</button>
    <ng-container *ngIf="page.subPages.length > 0">

      <button mat-button [matMenuTriggerFor]="aboveMenu">{{page.pageTitle}}</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above" >
        <button (click)="subPageClick(item.link)" *ngFor="let item of page.subPages" mat-menu-item>{{item.pageTitle}}</button>
        <!-- moze i sa pageClick f-jom:

          <button (click)="pageClick(item.link)" *ngFor="let item of page.subPages" mat-menu-item>{{item.pageTitle}}</button>
        -->
      </mat-menu>
     
  
  </ng-container> 
  </ng-container>
  





<router-outlet></router-outlet>
